AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

# This was inserted by `prisma init`:
DATABASE_URL=""

OPENAI_API_KEY=""

OPENAI_ASSISTANT_ID=""